[Desktop Entry]
Type=Application
Exec=tint2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Tint2
Name=Tint2
Comment[en_US]=
Comment=
